
.vs/FFmpeg4.0-study/v15/.suo
*.db
*.ipch
*.pdb
*.idb
x64/Debug/FFmpeg4.0-study.tlog/unsuccessfulbuild
*.opendb
bin/FFmpeg4.0-study.exe
bin/FFmpeg4.0-study.exe
*.ilk
*.user
*.log
*.tlog
*.obj
bin/FFmpeg4.0-study.exe
*.enc
